<h1><%= @template.name %> </h1>




<%= render "add_question" %>
<%= render "add_question" %>
<%= render "add_question" %>

<div><a href="<%= templates_path %>"><button type="button" class="btn btn-primary">Complete Template</button></a></div>