<div class="row">
  <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">    
    

    <h1>Sign up</h1>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "affa-form-contact"}) do |f| %>
      <div class="submit-status"><%= devise_error_messages! %></div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.submit "Sign up" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
  

     

      

