
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>Analysis</h2>
    <div class="row">
      <div class="col-md-4">
        Template
      </div>
      <div class="col-md-4">
        Created At
      </div>
      <div class="col-md-4">
        Amount
      </div>
    </div>
    <% @templates.each do |template| %>
      <div class="accordion" id="accordion-template-<%= template.id %>">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-template-<%= template.id %>" href="#collapse-template-<%= template.id %>">
            <div class="row">
              <div class="col-md-4">
                <em class="icon-fixed-width fa fa-plus"></em><%= template.name %>
              </div>
              <div class="col-md-4">
                <%= template.created_at %>
              </div>
              <div class="col-md-4">
                <%= template.evaluations.count %>
              </div>
            </div>
            </a>
          </div>
          <div id="collapse-template-<%= template.id %>" class="accordion-body collapse">
            <% template.teachers.each do |teacher| %>
              <div class="accordion-inner">

                <!-- Here we insert another nested accordion -->

                <div class="accordion" id="accordion-<%= template.id %>-teacher-<%= teacher.id %>">

                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-<%= template.id %>-teacher-<%= teacher.id %>" href="#collapse-<%= template.id %>-teacher-<%= teacher.id %>">
                        
                        <div class="row">
                          <div class="col-md-4">
                            <em class="icon-fixed-width fa fa-plus"></em><%= teacher.full_name %>
                          </div>
                          <div class="col-md-4">
                            <%= teacher.created_at %>
                          </div>
                          <div class="col-md-4">
                            <%= teacher.evaluations.count %>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div id="collapse-<%= template.id %>-teacher-<%= teacher.id %>" class="accordion-body collapse">
                      <div class="accordion-inner">
    
                          <% teacher.evaluations.where(template_id: template.id).each do |evaluation| %>
                            <div class="row">
                              <div class="col-md-4">
                                evaluation
                              </div>
                              <div class="col-md-4">
                                <%= evaluation.created_at %>
                              </div>
                              <div class="col-md-4">
                                <%= evaluation.submissions.count %>
                              </div>
                            </div>
                          <% end %>
 
                      </div>
                    </div>
                  </div>
                </div>          

                <!-- Inner accordion ends here -->

              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>



  </div>

  <div class="col-md-6">
    <div class="panel-body">
      <%= bootstrap_form_tag :url => '/analysis/instructor_only', :method => 'post' do |f| %> 
      <div><%= f.select :teacher_id, @teacher_select, label: "Select Instructor:" %>
      </div>
      <div>
       <%= f.submit 'Select' %>
     </div>
     <% end %>
   </div>
 </div>
 <div class="col-md-6">
  <div class="panel-body">
    <%= bootstrap_form_tag :url => '/analysis/template', :method => 'post' do |f| %> 
    <div><%= f.select :template_id, @templates, label: "Select Template:" %>
    </div>
    <div>
     <%= f.submit 'Select' %>
   </div>
   <% end %>
 </div>
</div>
</div>  
<div class="col-md-1"></div>
</div>

<script type="text/javascript">
  (function($) {
   "use strict"
   
   // Accordion Toggle Items
     var iconOpen = 'fa fa-minus',
          iconClose = 'fa fa-plus';

      $(document).on('show.bs.collapse hide.bs.collapse', '.accordion, .accordion-inner', function (e) {
          var $target = $(e.target)
            $target.siblings('.accordion-heading')
            .find('em').toggleClass(iconOpen + ' ' + iconClose);
            if(e.type == 'show')
                $target.prev('.accordion-heading').find('.accordion-toggle').addClass('active');
            if(e.type == 'hide')
                $(this).find('.accordion-toggle').not($target).removeClass('active');
      });
      
  })(jQuery);
</script>

