


<div class="row">
  <div class="col-md-1"></div>
</h2>
<div class="col-md-10">
  <h2><%= link_to @template.name, "/analysis/templates/#{@template.id}" %> > <%= @teacher.name %></h2>
  <% if @instructor_data_hash[:averages].any? %>
    <div>
      <div class="tab-content">
        <h4>1 to 10 Scale Questions</h4>
        <ul class="nav-pills custom-pills">
          <li role="presentation" class="active"><a data-toggle="tab" href="#chart-template-instructor-only-scale">Graph</a></li>
          <li role="presentation"><a data-toggle="tab" href="#table-scale">Table</a></li>
        </ul>
        <div id="chart-template-instructor-only-scale" class="tab-pane active"></div>
        <div id="table-scale" class="tab-pane">
          <table class="table table-hover">
          <tr>
            <th>Question</th>
            <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
              <th><%= date %></th>
            <% end %>
          </tr>
          <% @instructor_data_hash[:averages].each do |question, evaluation| %>
            <tr>
              <td><%= question %></td>
              <% evaluation.each do |score| %>
                <td><%= score %></td>
              <% end %>
            </tr>
          <% end %>
         </table> 
        </div>
      </div>
    </div>
  <% end %>
<% if @instructor_data_hash[:averages_boolean].any? %>
  <div>
    <h4>Yes or No Questions</h4>
    <ul class="nav-pills custom-pills">
      <li role="presentation" class="active"><a data-toggle="tab" href="#chart-template-instructor-only-boolean">Graph</a></li>
      <li role="presentation"><a data-toggle="tab" href="#table-boolean">Table</a></li>
    </ul>
    <div class="tab-content">
      <div id="chart-template-instructor-only-boolean" class="tab-pane active"></div>
      <div id="table-boolean" class="tab-pane">
        <table class="table table-hover">
          <tr>
            <th>Question</th>
            <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
              <th><%= date %></th>
            <% end %>
          </tr>
          <% @instructor_data_hash[:averages_boolean].each do |question, evaluation| %>
            <tr>
              <td><%= question %></td>
              <% evaluation.each do |score| %>
                <td><%= number_to_percentage(score * 100, precision: 0) %></td>
              <% end %>
            </tr>
          <% end %>
        </table> 
      </div>
    </div>
  </div>            
<% end %>
<% if @instructor_data_hash[:multiple_choice] %>
  <div>
    <h4>Multiple Choice Questions</h4>
    <ul class="nav-pills custom-pills">
    <li role="presentation" class="active"><a data-toggle="tab" href="#multiple-choice-charts">Graph</a></li>
      <li role="presentation"><a data-toggle="tab" href="#table-multiple-choice">Table</a></li>
    </ul>
    <div class="tab-content">
      <div id="multiple-choice-charts" class="tab-pane active">
        <% @instructor_data_hash[:multiple_choice][:chart].each_with_index do |questions, index| %>
          <h5><%= questions[:question] %></h5>
          <div id="chart-multiple-choice-<%= index %>"></div>
        <% end %>
      </div>
      <div id="table-multiple-choice" class="tab-pane">
       <table class="table table-hover">
        <tr>
         <th>Question</th>
         <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
         <th><%= date %></th>
         <% end %>
       </tr>
       <% @instructor_data_hash[:multiple_choice][:table].each do |question| %>
       <tr>
          <td><%= question[:question] %></td>
          <% question[:scores].each do |scores| %>
            <td>
              <ul class="text-one-instructor list-unstyled">
                <% scores.each do |score| %>
                  <li><%= "#{score[:name]} #{number_to_percentage(score[:score] * 100, precision: 0)}" %></li>
                <% end %>
              </ul>
            </td>
          <% end %>
       </tr>
       <% end %>

     </table> 
     </div>
    </div>
  </div>
<% end %>


<% if @instructor_data_hash[:text].any? %>
  <h4>Text Answers</h4>
    <table class="table">
    <tr>
      <th>Question</th>
      <% @instructor_data_hash[:text].first[:different_dates].each do |date| %>
        <th>
          <%= human_month_day_year_time(date[:date]) %>
        </th>
      <% end %>
    </tr>
      <% @instructor_data_hash[:text].each do |question_answer| %>
        <tr>
        <td class="bold"><%= question_answer[:question] %></td>
          <% question_answer[:different_dates].each do |answer| %>
            <td>
              <ul class="text-one-instructor list-unstyled">
                <% answer[:texts].each do |text| %>
                  <li><%= text %></li>
                <% end %>
              </ul>
            </td>  
          <% end %>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>  
<div class="col-md-1"></div>
</div>










<script>
  $(function () {
    $('#chart-template-instructor-only-scale').highcharts({
      title: {
        text: "",
        align: "left"
      },
      credits: {
        enabled: false
      },
      xAxis: {

        categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
      },
      yAxis: {
        min: 0,     
        max: 10,
        title: {
          text: 'Scale of 1 to 10'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      series: [
      <% @instructor_data_hash[:averages].each do |question, evaluation| %>
      {
        name: '<%= raw question %>',
        data: <%= raw evaluation %>,
        lineWidth: 5
      }, 
      <% end %>
      ]
    });
    $('#chart-template-instructor-only-boolean').highcharts({
      title: {
        text: "",
        align: "left"
      },
      credits: {
        enabled: false
      },
      xAxis: {

        categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
      },
      yAxis: {
        min: 0,     
        max: 1,
        title: {
          text: 'Percent'
        },
        labels: {
          formatter:function() {
            return (this.value * 100) + '%';
          }
        }
      },
      tooltip: {


        formatter: function() {
          var pcnt = this * 100;
          return '<b>' + this.x +
          '</b>: <b>' + (this.y * 100) + '%' + '</b>';
        }

      },
      series: [
      <% @instructor_data_hash[:averages_boolean].each do |question, evaluation| %>
      {
        name: '<%= raw question %>',
        data: <%= raw evaluation %>,
        lineWidth: 5
      }, 
      <% end %>
      ]
    });
    <% if @instructor_data_hash[:multiple_choice] %>
      <% @instructor_data_hash[:multiple_choice][:chart].each_with_index do |question, index| %>
        $('#chart-multiple-choice-<%= index %>').highcharts({
          title: {
            text: "",
            align: "left"
          },
          credits: {
            enabled: false
          },
          xAxis: {

            categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
          },
          yAxis: {
            min: 0,     
            max: 1,
            title: {
              text: 'Percent'
            },
            labels: {
              formatter:function() {
                return (this.value * 100) + '%';
              }
            }
          },
          tooltip: {


            formatter: function() {
              var pcnt = this * 100;
              return '<b>' + this.x +
              '</b>: <b>' + (this.y * 100) + '%' + '</b>';
            }

          },
          series: [
          <% question[:data].each do |choice| %>
          {
            name: '<%= choice[:choice] %>',
            data: <%= raw choice[:scores] %>,
            lineWidth: 5
          }, 
          <% end %>
      
          ]
        });
      <% end %>
    <% end %>
  });

</script>