<h2>All Results from Instructor <%= @teacher.full_name %><br>
 Template: <%= @template.name %></h2>


    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3>Results from "1 to 10" Scale Questions</h3>
            <div id="chart-template-instructor-only-scale"></div>
            <p>Chart Form (Same Data)</p>
            <table class="table table-hover">
                 <tr>
                    <th>Question</th>
                    <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
                        <th><%= date %></th>
                    <% end %>
                  </tr>
                  <% @instructor_data_hash[:averages].each do |question, evaluation| %>
                    <tr>
                      <td><%= question %></td>
                        <% evaluation.each do |score| %>
                          <td><%= score %></td>
                        <% end %>
                    </tr>
                  <% end %>

            </table>
            <br>
            <br>
            <h3>Results to "Yes or No" Questions</h3>
            <div id="chart-template-instructor-only-boolean"></div>
            <br>
            <br>
            <br>
            <br>
        </div>  
      <div class="col-md-1"></div>
    </div>










<script>
$(function () {
    $('#chart-template-instructor-only-scale').highcharts({
        title: {
            text: 'Results Over Time',
            x: -20 //center
        },
        xAxis: {

            categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
        },
        yAxis: {
            min: 0,     
            max: 10,
            title: {
                text: 'Scale of 1 to 10'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
          series: [
        <% @instructor_data_hash[:averages].each do |question, evaluation| %>
          {
              name: '<%= raw question %>',
              data: <%= raw evaluation %>
          }, 
        <% end %>
        ]
    });
});
$(function () {
    $('#chart-template-instructor-only-boolean').highcharts({
        title: {
            text: 'Results Over Time',
            x: -20 //center
        },
        xAxis: {

            categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
        },
        yAxis: {
            min: 0,     
            max: 1,
            title: {
                text: 'Percent'
            },
            labels: {
                formatter:function() {
                    return (this.value * 100) + '%';
                }
            }
        },
        tooltip: {

            
            formatter: function() {
                var pcnt = this * 100;
                return '<b>' + this.x +
                    '</b>: <b>' + (this.y * 100) + '%' + '</b>';
            }
            
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
          series: [
        <% @instructor_data_hash[:averages_boolean].each do |question, evaluation| %>
          {
              name: '<%= raw question %>',
              data: <%= raw evaluation %>
          }, 
        <% end %>
        ]
    });
});
</script>