


<div class="row">
  <div class="col-md-1"></div>
</h2>
<div class="col-md-10">
  <h2><%= @template.name %> > <%= @teacher.full_name %></h2> 
  <div>
    <div class="tab-content">
      <h4>1 to 10 Scale Questions</h4>
      <ul class="nav-pills custom-pills">
        <li role="presentation" class="active"><a data-toggle="tab" href="#chart-template-instructor-only-scale">Graph</a></li>
        <li role="presentation"><a data-toggle="tab" href="#chart-scale">Chart</a></li>
      </ul>
      <div id="chart-template-instructor-only-scale" class="tab-pane active"></div>
      <div id="chart-scale" class="tab-pane">
       <table class="table table-hover">
        <tr>
         <th>Question</th>
         <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
         <th><%= date %></th>
         <% end %>
       </tr>
       <% @instructor_data_hash[:averages].each do |question, evaluation| %>
       <tr>
         <td><%= question %></td>
         <% evaluation.each do |score| %>
         <td><%= score %></td>
         <% end %>
       </tr>
       <% end %>

     </table> 
   </div>
 </div>
</div>
  <div>
    <h4>Yes or No Questions</h4>
    <ul class="nav-pills custom-pills">
      <li role="presentation" class="active"><a data-toggle="tab" href="#chart-template-instructor-only-boolean">Graph</a></li>
      <li role="presentation"><a data-toggle="tab" href="#chart-boolean">Chart</a></li>
    </ul>
    <div class="tab-content">
      <div id="chart-template-instructor-only-boolean" class="tab-pane active"></div>
      <div id="chart-boolean" class="tab-pane">
       <table class="table table-hover">
        <tr>
         <th>Question</th>
         <% @instructor_data_hash[:evaluation_start_dates].each do |date| %>
         <th><%= date %></th>
         <% end %>
       </tr>
       <% @instructor_data_hash[:averages_boolean].each do |question, evaluation| %>
       <tr>
         <td><%= question %></td>
         <% evaluation.each do |score| %>
         <td><%= number_to_percentage(score * 100, precision: 0) %></td>
         <% end %>
       </tr>
       <% end %>

     </table> 
   </div>
  </div>
</div>            
<!-- <div id="chart-template-instructor-only-boolean"></div> -->


<h4>Multiple Choice Questions</h4>
<% @instructor_data_hash[:multiple_choice].each_with_index do |question, index| %>
  <div id="chart-multiple-column-<%= index %>"></div>
  <% #binding.pry %>
<% end %>

</div>  
<div class="col-md-1"></div>
</div>










<script>
  $(function () {
    $('#chart-template-instructor-only-scale').highcharts({
      title: {
        text: "",
        align: "left"
      },
      xAxis: {

        categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
      },
      yAxis: {
        min: 0,     
        max: 10,
        title: {
          text: 'Scale of 1 to 10'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      series: [
      <% @instructor_data_hash[:averages].each do |question, evaluation| %>
      {
        name: '<%= raw question %>',
        data: <%= raw evaluation %>,
        lineWidth: 5
      }, 
      <% end %>
      ]
    });
    $('#chart-template-instructor-only-boolean').highcharts({
      title: {
        text: "",
        align: "left"
      },
      xAxis: {

        categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
      },
      yAxis: {
        min: 0,     
        max: 1,
        title: {
          text: 'Percent'
        },
        labels: {
          formatter:function() {
            return (this.value * 100) + '%';
          }
        }
      },
      tooltip: {


        formatter: function() {
          var pcnt = this * 100;
          return '<b>' + this.x +
          '</b>: <b>' + (this.y * 100) + '%' + '</b>';
        }

      },
      series: [
      <% @instructor_data_hash[:averages_boolean].each do |question, evaluation| %>
      {
        name: '<%= raw question %>',
        data: <%= raw evaluation %>,
        lineWidth: 5
      }, 
      <% end %>
      ]
    });
    <% @instructor_data_hash[:multiple_choice].each_with_index do |all_data, index| %>
      $('#chart-multiple-column-<%= index %>').highcharts({
        title: {
          text: "",
          align: "left"
        },
        xAxis: {

          categories: <%= raw @instructor_data_hash[:evaluation_start_dates] %>
        },
        yAxis: {
          min: 0,     
          max: 1,
          title: {
            text: 'Percent'
          },
          labels: {
            formatter:function() {
              return (this.value * 100) + '%';
            }
          }
        },
        tooltip: {


          formatter: function() {
            var pcnt = this * 100;
            return '<b>' + this.x +
            '</b>: <b>' + (this.y * 100) + '%' + '</b>';
          }

        },
        series: [
        <% all_data[:answers][index].each do |point| %>
          {
            name: '<%= point[:name] %>',
            data: <%= point[:y] %>,
            lineWidth: 5
          }, 
        <% end %>
        ]
      });
    <% end %>
  });

</script>