
<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
    <h2><%= link_to @evaluation.template.name, "/analysis/templates/#{@evaluation.template.id}" %> > <%= link_to @teacher.name, "/analysis/instructor_only/templates/#{@evaluation.template.id}?teacher_id=#{@teacher.id}" %> > <%= "#{human_month_day_year_time(@evaluation.created_at)} (#{@evaluation.template_position.ordinalize} in Series)" %></h2>
    
      <% if @questions_array_scale.any? %>
        <h4>Scale of 1 to 10 Questions</h4>
        <ul class="nav-pills custom-pills">
          <li role="presentation" class="active"><a data-toggle="tab" href="#chart-scale-avg">Average</a></li>
          <li role="presentation"><a data-toggle="tab" href="#chart-scale-ind">Individual Responses</a></li>
          <li role="presentation"><a data-toggle="tab" href="#scale-table">Table</a></li>
        </ul>
        <div class="tab-content">
          <div id="chart-scale-avg" class="tab-pane active"></div>
          <div id="chart-scale-ind" class="tab-pane"></div>
          <div id="scale-table" class="tab-pane">
              <table class="table">
                <tr>
                  <th>Student</th>
                  <% @questions_array_scale.each do |question| %>
                    <th><%= question %></th>
                  <% end %>
                </tr>
                <% @submissions.each do |submission| %>
                  <tr>
                    <td><%= submission.id %></td>
                    <% submission.scale_answers.each do |answer| %>
                      <td><%= answer %></td>
                    <% end %>
                  </tr>
                <% end %>
                <tr>
                  <td class="bold">Average</td>
                  <% @averages_for_questions_scale.each do |average| %>
                    <td class="bold"><%= average %></td>
                  <% end %> 
                </tr>

              </table>
          </div>
        </div>
      <% end %>
 

      <% if @questions_array_boolean.any? %>
        <h4>"Yes or No" Questions</h4>
        <ul class="nav-pills custom-pills">
          <li role="presentation" class="active"><a data-toggle="tab" href="#chart-boolean">Chart</a></li>
          <li role="presentation"><a data-toggle="tab" href="#boolean-table">Table</a></li>
        </ul>
        <div class="tab-content">
          <div id="chart-boolean" class="tab-pane active"></div>
          <div id="boolean-table" class="tab-pane">
            <table class="table">
              <tr>
                <th>Student</th>
                <% @questions_array_boolean.each do |question| %>
                  <th><%= question %></th>
                <% end %>
              </tr>
              <% @boolean_submissions.each do |submission| %>
                <tr>
                  <td><%= submission.id %></td>
                  <% submission.boolean_answers.each do |answer| %>
                    <td><%= human_boolean(answer) %></td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td class="bold">Average</td>
                <% @percentages_for_questions_boolean.each do |average| %>
                  <td class="bold"><%= number_to_percentage(average * 100, precision: 0) %> Yes</td>
                <% end %> 
              </tr>

            </table>
          </div>
        </div>
      <% end %>

      <% if @questions_array_multiple_choice.any? %>
        <h4>Multiple Choice Questions</h4>
        <ul class="nav-pills custom-pills">
          <li role="presentation" class="active"><a data-toggle="tab" href="#pie-multiple-choice">Chart</a></li>
          <li role="presentation"><a data-toggle="tab" href="#multiple-choice-table">Table</a></li>
        </ul>
        <div class="tab-content">
          <div id="pie-multiple-choice" class="row tab-pane active">
            <% @questions_array_multiple_choice.each_with_index do |question, index| %>
              <div class="col-md-6">
                <div id="pie-multiple-choice-<%=index %>"></div>
              </div>
            <% end %>
          </div>
          <div id="multiple-choice-table" class="tab-pane">
            <table class="table">
              <tr>
                <th>Student</th>
                <% @questions_array_multiple_choice.each do |question| %>
                  <th><%= question %></th>
                <% end %>
              </tr>
              <% @multiple_choice_submissions.each do |submission| %>
                <tr>
                  <td><%= submission.id %></td>
                  <% submission.multiple_choice_answers.each do |answer| %>
                    <td><%= answer %></td>
                  <% end %>
                </tr>
              <% end %>
              <tr>
                <td class="bold">Average</td>
                  <%  @percentages_for_questions_multiple_choice.each do |questions| %>
                    <td>
                      <% average_choice_text = questions.map do |question| %>  
                        <% "#{question[:name]} #{number_to_percentage(question[:y] * 100, precision: 0)}" %>
                      <% end %>
                      <%= average_choice_text.join(" / ")  %>
                    </td>
                  <% end %>
              </tr>

            </table>
          </div>
        </div>
      <% end %>



      <% if @questions_answers.any? %>
        <h4>Text Questions</h4>
        <% @questions_answers.each do |question_answer| %>
            <h5><%= question_answer[:question] %></h5>
            <ul class="text-one-instructor list-unstyled">
            <% question_answer[:answers].each do |answer| %>
              <li><%= answer %></li>
            <% end %>
            </ul>
        <% end %>
      <% end %>
     


    </div>  
  <div class="col-md-1"></div>
</div>

<script>
  $(function () {
     <% if @questions_array_scale.any? %>
      $('#chart-scale-avg').highcharts({
        chart: {
          type: 'column'
        },
        credits: {
          enabled: false
        },
        title: {
          text: 'Scale of 1 to 10 Questions (Average)'
        },
        xAxis: {
          categories: <%= raw @questions_array_scale %>
        },
        yAxis: {
          min: 0,     
          max: 10,
          title: {
            text: 'Scale of 1 to 10'
          }
        },
        plotOptions: {
          column: {
            colorByPoint: true
          },
          line: {
            dataLabels: {
              enabled: true
            },
            enableMouseTracking: false
          }
        },
        colors: <%= raw @percentage_colors_scale %>,
        series: [
        { 
          showInLegend: false,
          data: <%= raw @averages_for_questions_scale %>
        }
        ]
      });
    $('#chart-scale-ind').highcharts({
      chart: {
        type: 'column'
      },
      credits: {
        enabled: false
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: <%= raw @questions_array_scale %>
      },
      yAxis: {
        min: 0,     
        max: 10,
        title: {
          text: 'Scale of 1 to 10'
        }
      },
      plotOptions: {
        line: {
          dataLabels: {
            enabled: true
          },
          enableMouseTracking: false
        }
      },
      series: [
      <% @submissions.each do |submission| %>
      { 
        name: 'Student <%= submission.id %>',
        data: <%= raw submission.scale_answers %>
      },
      <% end %>
      ]
    });
    <% end %>
    <% if @questions_array_boolean.any? %>
      $('#chart-boolean').highcharts({
        chart: {
          type: 'column'
        },
        credits: {
          enabled: false
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: <%= raw @questions_array_boolean %>
        },
        yAxis: {
          min: 0,     
          max: 1,
          title: {
            text: 'Percent Positive'
          },
          labels: {
            formatter:function() {
              return (this.value * 100) + '%';
            }
          }
        },
        tooltip: {


          formatter: function() {
            var pcnt = this * 100;
            return '<b>' + this.x +
            '</b>: <b>' + (this.y * 100) + '%' + '</b>';
          }

        },
        plotOptions: {
          column: {
            colorByPoint: true
          },
          series: {
            dataLabels:{
              enabled:true,
              formatter:function() {
                return (this.y * 100) + '%';
              }
            }
          },
          enableMouseTracking: false

        },
        colors: <%= raw @percentage_colors_boolean %>,
        series: [
        { 
          showInLegend: false,  
          data: <%= raw @percentages_for_questions_boolean %>
        }
        ]
      });
    <% end %>
    <% @questions_array_multiple_choice.each_with_index do |question, index| %>
    $('#pie-multiple-choice-<%= index %>').highcharts({
      chart: {
        plotBackgroundColor: null,
                plotShadow: false
              },
              title: {
                text: "<%= question.html_safe %>",
              },
              credits: {
                enabled: false
              },
              tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',
                  dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                      color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                  }
                }
              },
              series: [{
                type: 'pie',
                name: 'Browser share',
                data: <%= raw @percentages_for_questions_multiple_choice[index].to_json %>
              }]
            });

    <% end %>



  });


</script>