
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-10">
          <h3><%= @template.name %></h3>
          <% if @all_instructors_per_template_data[:scale_1_to_10s].first.any? %>
            <h4>Scale of 1 to 10 Questions</h4>
            <div>
              <div class="tab-content">
                <ul class="nav-pills custom-pills">
                  <li role="presentation" class="active"><a data-toggle="tab" href="#scale-1-10-charts">Graph</a></li>
                  <li role="presentation"><a data-toggle="tab" href="#table-scale">Table</a></li>
                </ul>
                <div id="scale-1-10-charts" class="tab-pane active"></div>
                <div id="table-scale" class="tab-pane">
                  <% @all_instructors_per_template_data[:scale_1_to_10s].each do |teachers| %>
                    <h5><%=  teachers.first[:question_text] %></h5>
                    <table class="table table-hover">
                      <tr>
                        <th>Instructor</th>  
                        <% find_max_evaluations(teachers).times do |i| %>
                          <th><%= (i + 1).ordinalize %> Evaluation</th>
                        <% end %>
                      </tr>
                    <% teachers.each do |teacher| %>
                      <tr>
                        <td><%= teacher[:name] %></td>
                        <% teacher[:data].each do |score| %>
                          <td><%= score.last %></td>
                        <% end %>
                      </tr>
                    <% end %>
                    </table> 
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

        <% if @all_instructors_per_template_data[:booleans].first.any? %>
          <div>
          <h4>Boolean Questions</h4>
            <div class="tab-content">
              <ul class="nav-pills custom-pills">
                <li role="presentation" class="active"><a data-toggle="tab" href="#boolean-charts">Graph</a></li>
                <li role="presentation"><a data-toggle="tab" href="#table-boolean">Table</a></li>
              </ul>
              <div id="boolean-charts" class="tab-pane active"></div>
              <div id="table-boolean" class="tab-pane">
                <% @all_instructors_per_template_data[:booleans].each do |teachers| %>
                  <h5><%=  teachers.first[:question_text] %></h5>
                  <table class="table table-hover">
                    <tr>
                      <th>Instructor</th>  
                      <% find_max_evaluations(teachers).times do |i| %>
                        <th><%= (i + 1).ordinalize %> Evaluation</th>
                      <% end %>
                    </tr>
                  <% teachers.each do |teacher| %>
                    <tr>
                      <td><%= teacher[:name] %></td>
                      <% teacher[:data].each do |score| %>
                        <td><%= score.last %></td>
                      <% end %>
                    </tr>
                  <% end %>
                  </table> 
                <% end %>
                </div>
              </div>
            </div>
          <% end %>


          <% if @all_instructors_per_template_data[:multiple_choice].first %>
            <h4>Multiple Choice Questions</h4>
            <% multiple_choice_table_for_template(@all_instructors_per_template_data[:multiple_choice]).each do |question| %>
              <h5><%= question[:question] %></h5>
              <table class="table table-hover">
                <tr>
                  <th>Instructor</th>
                  <% find_max_evaluations_multiple_choice(question).times do |i| %>
                    <th><%= (i + 1).ordinalize %> Evaluation</th>
                  <% end %>
                </tr>
                <% question[:teachers].each do |teacher| %>
                  <tr>
                    <td class="bold"><%= teacher[:name] %></td>
                    <% teacher[:scores].each do |scores| %>
                      <td>
                        <ul class="text-one-instructor list-unstyled">
                          <% scores.each do |score| %>
                            <li><%= "#{score[:name]} #{number_to_percentage(score[:score] * 100, precision: 0)}" %></li>
                          <% end %>
                        </ul>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            <% end %>
          <% end %>

          <% if @all_instructors_per_template_data[:texts].first[:texts].any? %>
            <h4>Text Questions</h4>
            <% texts_table_for_template(@all_instructors_per_template_data[:texts]).each do |question| %>
              <h5><%= question[:question] %></h5>
              <table class="table table-hover">
                <tr>
                  <th>Instructor</th>
                  <% find_max_evaluations_texts(question).times do |i| %>
                    <th><%= (i + 1).ordinalize %> Evaluation</th>
                  <% end %>
                </tr>
                <% question[:teachers].each do |teacher| %>
                  <tr>
                    <td class="bold"><%= teacher[:name] %></td>
                    <% teacher[:texts].each do |texts| %>
                      <td>
                        <span class="bold"><%= human_month_day_year_time(texts[:date]) %></span>  
                        <ul class="text-one-instructor list-unstyled">
                          <% texts[:texts].each do |text| %>
                            <li><%= text %></li>
                          <% end %>
                        </ul>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            <% end %>
          <% end %>




        <!-- <div id="boolean-charts"></div> -->
      </div>  
    <div class="col-md-1"></div>
  </div>

<script type="text/javascript">
  $(function () {
      <% @all_instructors_per_template_data[:scale_1_to_10s].each_with_index do |chart, index| %>
      $("#scale-1-10-charts").append("<h5><%= chart.first[:question_text] %></h5><div id='chart-<%= index %>'></div>");
      $('#chart-<%= index %>').highcharts({
          chart: {
              type: 'spline'
          },
          title: {
              text: ""
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  second: '%H:%M:%S',
                  minute: '%H:%M',
                  hour: '%H:%M',
                  day: '%B, %e',
                  week: '%B, %e',
                  month: '%B \'%Y',
                  year: '%Y'
              },
          },
          yAxis: {
              min: 0,     
              max: 10,
              title: {
                  text: 'Scale of 1 to 10'
              }
          },
          tooltip: {
              headerFormat: '<strong>Name: </strong>{series.name}<br>',
              pointFormat: '<strong>Date: </strong>{point.x:%B, %e %Y}<br><strong>Score: </strong>{point.y:.1f}/10<br>(Click Point for Detail)'
          },

          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },
          series: [
            <% chart.map do |results_per_question| %> {
                name: '<%= results_per_question[:name] %>',
                URLs: <%= raw results_per_question[:URLs].map{|url| "analysis/instructor_only/#{url}"} %>,
                data: <%= results_per_question[:data] %>,
                point: {
                  events: {
                    click: function() {
                      x = this;
                      var someURL = this.series.userOptions.URLs[this.series.data.indexOf(this)];
                      window.open('<%= ENV['DOMAIN'] %>'+someURL);
                    }
                  }
                },
                lineWidth: 5,
                question_text: '<%= results_per_question[:question_text] %>'
              }<%= "," unless results_per_question == chart.last %>
            <% end %>
          ]


      });
      <% end %>

      <% @all_instructors_per_template_data[:booleans].each_with_index do |chart, index| %>
      $("#boolean-charts").append("<h5><%= chart.first[:question_text] %></h5><div id='chart-boolean-<%= index %>'></div>");
      $('#chart-boolean-<%= index %>').highcharts({
          chart: {
              type: 'spline'
          },
          title: {
              text: ""
          },
          xAxis: {
              type: 'datetime',
              dateTimeLabelFormats: { // don't display the dummy year
                  second: '%H:%M:%S',
                  minute: '%H:%M',
                  hour: '%H:%M',
                  day: '%B, %e',
                  week: '%B, %e',
                  month: '%B \'%Y',
                  year: '%Y'
              },
          },
          yAxis: {
            min: 0,     
            max: 1,
            title: {
                text: "Percent Positive"
            },
            labels: {
                formatter:function() {
                    return (this.value * 100) + '%';
                }
            }
          },
          tooltip: {
              headerFormat: '<strong>Name: </strong>{series.name}<br>',
              pointFormat: '<strong>Date: </strong>{point.x:%B, %e %Y}<br><strong>Score: </strong>{point.y:.1f}/10<br>(Click Point for Detail)'
          },

          plotOptions: {
              spline: {
                  marker: {
                      enabled: true
                  }
              }
          },

          series: [
            <% chart.map do |results_per_question| %> {
                name: '<%= results_per_question[:name] %>',
                URLs: <%= raw results_per_question[:URLs].map{|url| "analysis/instructor_only/#{url}"} %>,
                data: <%= results_per_question[:data] %>,
                point: {
                  events: {
                    click: function() {
                      x = this;
                      var someURL = this.series.userOptions.URLs[this.series.data.indexOf(this)];
                      window.open('<%= ENV['DOMAIN'] %>'+someURL);
                    }
                  }
                },
                lineWidth: 5,
                question_text: '<%= results_per_question[:question_text] %>'
              }<%= "," unless results_per_question == chart.last %>
            <% end %>
          ]
      });
      <% end %>
  });
</script>