



<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <br>
      <br>

      <h2>You've been invited to fill out a survey for:</h2>
      <p>Person/Group: <b><%= @teacher.name %></b></p>
      <p><i>Your evaluation will be anonymous.</i></p>
      <br>
        <%= bootstrap_form_for @submission, url: submissions_path(@submission, submission_id: params[:submission_id]) do |f| %>

          <%= f.fields_for :answers do |answer| %>

            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="panel-title"> <%= answer.object.question.text %></span><span class="pull-right"><%= required?(answer.object.question).html_safe %></span>
              </div>
              <div class="panel-body">
              <% if answer.object.question.format_type== "text" %>  
            
                 <%= answer.text_area :answer, required: answer.object.question.required %>
           
              <% elsif answer.object.question.format_type == "scale1To10" %>
                <%= answer.form_group :answer do %>
                  <% 10.times do |count| %>
                    <%= answer.radio_button :answer, (count+1).to_s, label: (count+1).to_s, inline: true, required: answer.object.question.required %>
                  <% end %>  
                <% end %> 
              <% elsif answer.object.question.format_type == "multipleChoice" %>
                <%= answer.form_group :answer do %>
                  <% answer.object.question.question_options.each do |option| %>
                    <%= answer.radio_button :answer, option.text, label: option.text, inline: true, required: answer.object.question.required %>
                  <% end %>
                <% end %> 
              <% elsif answer.object.question.format_type == "boolean" %>
                <%= answer.form_group :answer do %>
                  <%= answer.radio_button :answer, 1, label: "yes", inline: true, required: answer.object.question.required %>
                  <%= answer.radio_button :answer, 0, label: "no", inline: true %>
                <% end %>
              <% end %>

              </div>
            </div>
            <div>
              <%= answer.hidden_field :question_id, value: answer.object.question.id %>
            </div>

          <% end %>
          
          <%= f.hidden_field :evaluation_id, value: @evaluation.id %>
          <%= f.hidden_field :respondent_id, value: @respondent_id %>
          <%= f.submit 'Submit', class: "btn btn-success" %>
        <% end %>
        <br>
        <br>
      </div>  
  <div class="col-md-1"></div>
</div>